[flake8]
ignore = 
    E731
    W503
    F401
    F403
    #F405
per-file-ignores =
exclude = 
    pyproject.toml
    poetry.lock
    .git
    .github
    .venv
    .tox
    .pytest_cache
    .hypothesis
    docs
    __pycache__
